<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">Ir a Login</a>
  </li>
  <li>
    <a routerLink="/auth/register">Ir a Registro</a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">Ir a Agregar</a>
  </li>
  <li>
    <a routerLink="/heroes/listado">Ir a Listado</a>
  </li>
  <li>
    <a routerLink="/heroes/editar/1">Ir a Editar</a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">Ir a Buscar</a>
  </li>
  <li>
    <a routerLink="/heroes/1">Ir a Algun indice directo</a>
  </li>
</ul>
