
<mat-sidenav-container fullscreen> <!--Contenedor general-->
      <mat-sidenav mode="push" #sidenav> <!--el sidenav-->
          <mat-toolbar color="warn">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button
              (click) = "sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list dense>
            <mat-list-item (click) = "sidenav.toggle()">
              <mat-icon mat-list-icon class="mat-18">label</mat-icon>
              <a mat-list-item routerLink="./listado">Listado de Héroes</a>
            </mat-list-item>
            <mat-list-item (click) = "sidenav.toggle()">
              <mat-icon mat-list-icon class="mat-18">add</mat-icon>
              <a mat-list-item routerLink="./agregar">Agregar Héroe</a>
            </mat-list-item>
            <mat-list-item (click) = "sidenav.toggle()">
              <mat-icon mat-list-icon class="material-icons">search</mat-icon>
              <a mat-list-item routerLink="./buscar">Buscar Héroe</a>
          </mat-list-item>
        </mat-nav-list>

      </mat-sidenav>
      <!-- Body -->

      <mat-toolbar>
          <button mat-icon-button
            (click) = "sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <span class="spacer"></span>
          <button mat-button>
            Logout
          </button>
      </mat-toolbar>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
      
</mat-sidenav-container>
